<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="run tests in parallel" verbose="1" preserve-order="false"	configfailurepolicy="continue" thread-count="1">
	<test name="Tests in Chrome">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="runners.RunCukesTest" />
		</classes>
	</test>
</suite>